<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Js</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="ifElse" >        
        <h3>If else</h3>
        <!---FIRST--->
        <div class="if-else-first">   
            <input type="text" v-model="numberFlat" placeholder="Введите номер квартиры">
            <button v-on:click="entranceFlat" >Task 1</button>
        </div>  
        <!---SECOND--->
        <div class="if-else-second">
            <input type="text" v-model="LoginIfElse2"  placeholder="Введите логин">
            <input type="text" v-model="PasswordIfElse2" placeholder="Введите пароль">
            <button v-on:click="authorize">Task 2</button>
        </div>
        <!---THIRD--->
        <div class="if-else-third">
           <input type="text" v-model="AgeIfElse3"  placeholder="Введите возраст">
           <button v-on:click="CheckAge">Task 3</button>
        </div>
        <!---FOURTH--->
        <div class="if-else-fourth">
            <input type="text" v-model="ExperienceIfElse4"  placeholder="Введите стаж">
            <button v-on:click="CheckExperience">Task 4</button>
        </div>
    </div>
    
    <div id="cycles">    
        <h3>Cycles</h3>    
        <!---FIRST--->
        <button class="cycle-first" >Task 1</button>
        <!---SECOND--->
        <button class="cycle-second">Task 2</button>
        <!---THIRD--->
        <button class="cycle-third">Task 3</button>
        <!---FOURTH--->
        <button class="cycle-fourth">Task 4</button>
        <!---FIFTH--->
        <button class="cycle-fifth">Task 5</button>
        <!---SIXTH--->
        <div class="cycle-sixth">   
            <textarea v-model="multiplicationOnFive" cols="10" rows="10"></textarea>
            <button v-on:click="MultiFive" >Task 6</button>
        </div>  
    </div> 
    
    <div id="functionTask">
        <h3>Function</h3> 
        <div class="function-first">
            <div class="picture">
                <img src="img/1.jpg" alt="">
                <img src="img/2.jpg" alt="">
                <img src="img/3.jpg" alt="">
            </div>  
        </div>
        <div class="function-second">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam reiciendis amet, 
                labore minima corrupti perferendis placeat deleniti, quam accusantium sit eum praesentium 
                ipsum id vero pariatur! Iste nemo consectetur maxime.</p>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam reiciendis amet, 
                labore minima corrupti perferendis placeat deleniti, quam accusantium sit eum praesentium 
                ipsum id vero pariatur! Iste nemo consectetur maxime.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam reiciendis amet, 
                labore minima corrupti perferendis placeat deleniti, quam accusantium sit eum praesentium 
                ipsum id vero pariatur! Iste nemo consectetur maxime.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam reiciendis amet, 
                labore minima corrupti perferendis placeat deleniti, quam accusantium sit eum praesentium 
                ipsum id vero pariatur! Iste nemo consectetur maxime.</p>
        </div>
        <div class="function-third">
            <input type="text" v-model="NumFun3" placeholder="Введите число">
            <input type="text" v-model="PowFun3" placeholder="Введите степень">
             
            <button v-on:click="NumInPow" >Task 3</button>  
        </div>
        <div class="function-fifth">
            <input type="text" v-model="CheckAge5" placeholder="Введите возраст">
            <button v-on:click="CheckAge" >Task 5</button>
        </div>
        <div class="function-sixth">
            <input type="text" v-model="inputRanNum" placeholder="Введите число">
            <button v-on:click="RandomNumber" >Task 6</button>
        </div>
    </div>
    <div id="LineTask">
        <h3>Line</h3>
        <div class="line-first">
            <input type="text" v-model="line1" placeholder="Введите строку">
            <button v-on:click="lineLength">Task 1</button>
        </div>
        <div class="line-second">
            <div  class="picture">
                <div v-for="image in img" >
                    <img :src="image.link" :alt="image.name">
                </div>            
            </div> 
        </div>
        <div class="line-third">
            <input type="text" v-model="line3" placeholder="Введите URL">
            <button v-on:click="URL">Task 3</button>
        </div>
        
        <div class="line-fourth">
            <form action="" method="get" class="line-form">
                <hr>
                <h4>Surname</h4>
                <input type="text" v-model="accountNew.surname" placeholder="Введите Фамилию">
                <h4>Name</h4>
                <input type="text" v-model="accountNew.name" placeholder="Введите Имя">
                <h4>Password</h4> 
                <input type="password" v-model="accountNew.password" placeholder="Введите Пароль">
                <h4>Email</h4>
                <input type="email" v-model="accountNew.email" placeholder="Введите Почту">
                <button v-on:click="CreateNewAccount">Отправить</button>
                <hr>
            </form>
        </div>
    </div>

    <div id="local-storage">
        <h3>Local Storage</h3>
        <button class="local-second">Task 2</button>
        <button class="local-fourth">Task 4</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>