<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Js - Part Second</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="secondDay" >        
        <h3>Second Day</h3>

        <input type="radio" name="author" v-model="isAuthor" value="exist">Є автор
        <input type="radio" name="author" v-model="isAuthor" value="">Немає автора

        <br>

        <div class="quotes" v-for="quo in filteredQuotes" >
            <p v-bind:class="quo.quote.length > 40 ? 'red' : 'black'">{{quo.quote }}</p>
            <p> <b>Author: {{ quo.source }}</p>
        </div>

        <button @click="sortBySource()">Сортувати</button>

        <div class="quote" v-for="quo in sortedQuotes">
            <p>{{quo.quote}}</p>
            <p>{{quo.source}}</p>
        </div>

    </div>   
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main2.js"></script>
</body>
</html>