body {
    background-color: plum;
}
#ifElse{
    margin: 20px 30px;
    line-height: 35px;
}
#cycles{
    margin: 20px 30px;
    line-height: 30px;       
}
#functionTask{
    margin: 20px 30px;
    line-height: 25px;
}
.picture{
    display: flex;   
    justify-content: space-between;
    padding: 50px 100px;
}
#LineTask{
    margin: 20px 30px;
    line-height: 25px;
}
.line-form{
    line-height: 0px;
    padding-top: 25px;
    margin: 0 39% ;
}
#local-storage{
    margin: 20px 30px;
}
.red{
    color: red;
}
.black{
    color: black;
}

.thirdNone{
    background-color: none;
}
.img-pencil {
    height: 100px;
    width: 100px;
}
.main-stud{
    display: flex;
    justify-content: left;
    align-items: center;
}

.stud-about p{
    font-size: 18px;
}